---
# Only the main Sass file needs front matter (the dashes are enough)
---

$content-width: 1000px;
$on-laptop: 	1000px;

.arxiv {
	font-family: 'Lucida Grande';
	font-weight: bold;
	font-size: large;
	color: #b41414;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@import "minima";